html,
body {
  /* display: block; */
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-family: 'Lato';
  color: white;
}

canvas {
  display: block;
}



lottie-player {
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 500px;
}

input {
  /* display: inline-block; */
  padding-bottom: 0px;
  width: 200px;
  color: white;
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  /* height: 3em; */
  font-size: 2em;
  height: auto
}

input:focus {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
}


.ipt {

  animation: 5s fadeIn;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

#ipt-button {
  padding: 4px 8px;
  animation: 5s fadeIn;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  visibility: hidden;

  background-color: transparent;
  border: 2px solid black;
  transition: all 0.5s;

}

#ipt-button:hover {
  border: 2px solid white;

}

.fade{
  opacity: 0;
  animation: 5s fadeIn;
  animation-fill-mode: forwards;
  display: unset;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }

  100% {
    visibility: visible;
    opacity: 0;
  }
}

.elementToFadeInOut{
  animation: fadeInOut 5s ease-in-out forwards;

}

.elementToFadeOut {
  animation: fadeOut 0.5s linear forwards;
}

.elementToFadeOuttwo {
  animation: fadeOut 0.5s linear forwards;
}


.elementToFadeIn {
  animation: fadeIn 0.5s linear forwards;
}

.elementToFadeInD {
  animation: fadeIn 0.5s linear forwards;
}

#notification{
  color: red;
  /* display: none; */
  visibility: hidden;
}

#player-details{
  color: #8766D4;
  line-height: 0.8;

}

#player-name{
  color: white;
    line-height: 1.6;

}

#player-data{
  /* visibility: hidden; */
  opacity: 0;
}


.player-button{
  height: 2.5em;
  margin-left: 16px;
  margin-right: 16px ;
  width: 4.3em;
  background-color: #8766D4;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 4px;

}

.player-button:hover{
  background-color: white;
  color: #8766D4 ;
  transition: all 0.5s;
}

#dietary{
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 1s; 

}

#dietary.fade{
  /* visibility: hidden; */
  opacity: 0;
}

#playing{
  /* visibility: hidden; */
  opacity: 0;
}
#not-playing{
  /* visibility: hidden; */
  opacity: 0;
}


#dietry-ipt{
  width: 500px;
}


/* MEDIA QUERY FOR MOBILE DEVICES **********/    
@media (max-width: 767px) {
  lottie-player {
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 10%;
    width: 90%;
  }


}